* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-color: gray; */
}

.main-box {
    display:flex;
    width: 100%;
}

.card {
    width: 230px;
    margin: 0 10px;
}

.card img {
    width: 100%;
    object-fit: cover;
}

a {
    color: #414141;
    text-decoration: none;
}

    

